.loginBox {
	border : 1px solid #fff;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
	padding: 5px 10px;
	margin: 4px;
	width: auto !important;
}

.green {  background-color: rgba(115, 197, 64, 0.81);  }  
.red {  background-color: #cc1919; }  
.yellow {  background-color: #FFFF66; } 

.alert_ticker {
	border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
	padding: 5px 10px;
	margin: 4px;
}


.alertCount {
	height : 30px;
	border-radius : 20px;
	text-align: center !important;
	font-size: 28px !important;
    font-weight: bold;
    line-height: 30px !important;
    color: #ffffff;
    vertical-align: middle;
    border: 2px solid #ffffff;
    padding: 3px 3px;
    left : 5px
}

.errorMessageContainer {
	color: #cc1919;
	background-color: #ffe6e6;
	overflow-y: scroll !important;
	max-height: 200px;
	padding: 4px; 
}

.hide {
	display: none !important;
}
.show {
	display: block;
}

.wrap {
	white-space: normal !important;
}

.desc {
	white-space: normal !important;
	padding : 15px !important;
	background-color: #fff !important;
	//border: 1px solid;
    //border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}

.blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  /*quotes: "\201C""\201D""\2018""\2019";*/
}
.blockquote:before {
  color: #ccc;
  /*content: open-quote;
  font-size: 4em;*/
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blockquote p {
  display: inline;
}



/* Chandima */

.align_text_left {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px;
}
.align_control_right{
	position:relative;
    float:right;
} 
.messageCount {

	height : 30px;
	text-align: center !important;
	font-size: 28px !important;
    font-weight: bold;
    line-height: 30px !important;
    color: #ffffff;
    vertical-align: middle;
    border: 2px solid #ffffff;
    padding: 3px 3px;
    left : 5px

}
.messageLabel {

	height : 30px;
	text-align: center !important;
	vertical-align: middle;
	font-size: 10px !important;
    font-weight: bold;
    color: #ffffff;
    padding: 3px 3px;
    left : 5px

} 