.loginBox {
	border : 1px solid #fff;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
	padding: 5px 10px;
	margin: 4px;
}

.green {  background-color: rgba(115, 197, 64, 0.81);  }  
.red {  background-color: #cc1919; }  
.yellow {  background-color: #FFFF66; } 

.alert_ticker {
	border-bottom: 0 none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
	padding: 5px 10px;
	margin: 4px;
}


.alertCount {
	height : 30px;
	border-radius : 20px;
	text-align: center !important;
	font-size: 28px !important;
    font-weight: bold;
    line-height: 30px !important;
    color: #ffffff;
    vertical-align: middle;
    border: 2px solid #ffffff;
    padding: 3px 3px;
    left : 5px
}

.errorMessageContainer {
	color: #cc1919;
	background-color: #ffe6e6;
	overflow-y: scroll !important;
	height: 200px; 
}
